@keyframes button-pressed {
  0% {
    background-color: rgba(255, 255, 255, 0);
    border: 1px solid black;
  }

  100% {
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, 0);
  }
}

:root {
  --blue-color: rgb(0, 119, 255);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

header {
  display: flex;
  justify-content: space-between;
  background-color: white;
  box-shadow: 0 0 4px 1px rgba(0, 0, 0, 0.25);
  letter-spacing: 0.1em;
  font-size: 1em;
  padding: 1em 2em;
  flex-grow: 2;
}

p,
label {
  color: var(--blue-color);
  text-align: center;
}

nav {
  display: flex;
  list-style: none;
  gap: 1em;
}

input[type="radio"] {
  display: none;
}

input[type="radio"]:checked + label {
  font-weight: 700;
}

main {
  display: flex;
  flex-direction: column;
  gap: 1.4em;
  align-items: center;
  justify-content: center;
  padding: 1em 2em;
  flex-grow: 100000;
}

h1 {
  background-color: black;
  color: white;
  border-radius: 0.25em;
  padding: 0.5em 1em;
  max-width: 85%;
  font-size: 1.2em;
  text-align: center;
}

span {
  color: var(--blue-color);
}

button {
  background-color: transparent;
  outline: 1px solid white;
  border: 1px solid black;
  text-transform: uppercase;
  font-weight: 500;
  padding: 0.5em 1.2em;
  border-radius: 0.25em;
}

button:hover {
  animation: button-pressed 0.05s linear forwards;
  cursor: pointer;
}

button:active {
  box-shadow: 0 0 2px 4px rgba(0, 0, 0, 0.219);
  background-color: white;
  border: 1px solid transparent;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1em;
  flex-grow: 1;
}

@media (min-width: 480px) {
  header,
  main {
    padding: 1.8em 6em;
  }

  main {
    gap: 2em;
  }

  h1 {
    font-size: 3.2vw;
  }

  button {
    font-size: 1.2em;
  }
}

@media (min-width: 768px) {
  h1 {
    font-size: 1.9em;
  }
}

@media (min-width: 1024px) {
  header,
  main {
    padding: 2em 8em;
  }
}

@media (min-width: 1920px) {
}
